@tailwind base;
@tailwind components;
@tailwind utilities;


body {
min-height: 100vh;
}


/* For Chrome, Safari, and Opera */
.scroll-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
.scroll-container {
  scrollbar-width: none; /* Hide scrollbar */
}

/* For Internet Explorer and Edge */
.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
}
